<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gzohaqyrf@ghatby.bet</string>
	<key>contactName</key>
	<string>Stephen Morton</string>
	<key>description</key>
	<string>Creating and navigating page breaks with ^L (form feed).</string>
	<key>name</key>
	<string>^L</string>
	<key>uuid</key>
	<string>74E3B752-375E-450C-8443-93BFBAD2F6A6</string>
</dict>
</plist>
